/*--------------------------------------------------------------
  # header
  --------------------------------------------------------------*/
#header {
  height: 100px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
  # menu-chinh
  --------------------------------------------------------------*/
.nav-menu {
  width: 100%;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu .nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu .nav-logo {
  padding: 0 20px;
}
/* .img-logo {
  size: 50, 50;
} */

.nav-menu a {
  display: block;
  position: relative;
  color: #151515;
  padding: 15px 25px;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #7cc576;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #151515;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #7cc576;
}

.nav-menu .drop-down > a:after {
  padding-left: 5px;
  content: url("https://api.iconify.design/fa-angle-down.svg?height=14&inline=true");
  vertical-align: -0.143em;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: url("https://api.iconify.design/vaadin-angle-right.svg?height=16");
  vertical-align: -0.125em;
  position: absolute;
  right: 15px;
}

/*--------------------------------------------------------------
  # footer
  --------------------------------------------------------------*/

footer {
  padding: 10px;
  height: 50px;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  color: white;
}

/*--------------------------------------------------------------
  # trang-dang-nhap
  ----------------  ----------------------------------------------*/
.login-page {
  margin: 0;
  padding: 0;
  background-image: url("img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 600px;
  height: 420px;
  width: 450px;
  border: 1px solid #9c9c9c;
  border-radius: 3% 3%;
  background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
  # trang-thuc-uong
  ----------------  ----------------------------------------------*/
.thuc-uong-page {
  margin: 20px;
  padding: 0;
  background-color: transparent;
  background-image: url("img/thuc-uong-bn1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#thuc-uong {
  height: 400px;
  border: none;
  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}
.slogan-thuc-uong {
  font-style: oblique, bold;
  color: rgb(149, 107, 107);
  font-family: Book Antiqua;
  padding-top: 40px;
  text-align: center;
}

/* SIDE BAR */
.side-bar {
  background: rgba(209, 196, 196, 0.74);
}

/*--------------------------------------------------------------
  # MON AU
  ----------------  ----------------------------------------------*/
.mon-au-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-mon-au4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#mon-au {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-mon-au {
  font-style: oblique, bold;
  color: rgb(149, 107, 107);
  font-family: Book Antiqua;
  padding-top: 40px;
  text-align: center;
}
/*--------------------------------------------------------------
  # MON A
  ----------------  ----------------------------------------------*/
.mon-a-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-mon-a10.webp");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#mon-a {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-mon-a {
  font-style: oblique, bold;
  color: rgb(149, 107, 107);
  font-family: Book Antiqua;
  padding-top: 40px;
  text-align: center;
}

/*--------------------------------------------------------------
  # an vat
  ----------------  ----------------------------------------------*/
.an-vat-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-an-vat2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#an-vat {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-an-vat {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 4rem;
  font-family: monospace;
  align-content: center;
}
/*--------------------------------------------------------------
  # Meo vat
  ----------------  ----------------------------------------------*/
.meo-vat-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-tip.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#meo-vat {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-meo-vat {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 4rem;
  font-family: monospace;
  align-content: center;
}

/*--------------------------------------------------------------
  # THUAN VIET
  ----------------  ----------------------------------------------*/
.tv-mon {
  background-color: rgba(209, 196, 196, 0.74);
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
}

.set-col {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  justify-content: center;
}
.item2 {
  margin: 10px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title-item {
  margin: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.tv-mon-it:link {
  color: black;
}
.tv-mon-it:visited {
  color: black;
}
.tv-mon-it:hover {
  color: white;
}

.thuan-viet {
  justify-content: center;
  padding: 30px;
}

.mon-tv-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-mon-a3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#mon-tv {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-mon-tv {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 4rem;
  font-family: monospace;
  align-content: center;
}
/*--------------------------------------------------------------
  # DUNG CHUNG
  ----------------  ----------------------------------------------*/

.cong-thuc-short {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
}
.cong-thuc-long {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
}
.noi-dung-cong-thuc {
}

a.item {
  text-decoration: none !important;
  color: #1c1c1c;
}

a.item:hover {
  color: #7cc576;
  text-decoration: none !important;
}
.show {
  background-color: rgba(209, 196, 196, 0.74);
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.show-ten {
  text-align: center;
  margin-top: 30px;
}
.show-img {
  background-color: white;
  margin-top: 40px;
  padding: 5px;
  border-radius: 10px;
}
.show-congthuc {
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
}
/*--------------------------------------------------------------
  # Trang chu
  ----------------  ----------------------------------------------*/
.tv-mon {
  background-color: rgba(209, 196, 196, 0.74);
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
}

.set-col {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  justify-content: center;
}
.item2 {
  margin: 10px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title-item {
  margin: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.tv-mon-it:link {
  color: black;
}
.tv-mon-it:visited {
  color: black;
}
.tv-mon-it:hover {
  color: white;
}

.thuan-viet {
  justify-content: center;
  padding: 30px;
}

.index-page {
  margin: 20px;
  padding: 0;
  background-image: url("img/bn-tip.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
}

#index {
  height: 400px;
  border: none;

  -webkit-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 4px 20px -9px rgba(0, 0, 0, 0.75);
}
.slogan-mon-tv {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 4rem;
  font-family: monospace;
  align-content: center;
}
.in-pr {
  background-color: transparent;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}
.in-tt {
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.in-if {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  text-align: end;
  padding-top: 30px;
  border-radius: 20px;
}
